@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body{
    width: 960px;;
    margin: auto;
}

main{
    display: flex;
    height:80vh;
}

header{
    background-color: #3f8f8d;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

header h1{
    color: white;
}

#formDiv, #tableDiv{
    margin: 20px ;
    width: 50%;

}

footer{

    background-color: #5dc0a6;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

input, select{
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset{
    border: 2px dashed #ccc;  
    border-radius: 4px;
    margin: 10px;
    padding: 10px 10px;
    font-family: 'Roboto', sans-serif;
}

table{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    padding: 5px;
}

tr :nth-child(even) {
    background-color: #ffd3de;
}
tr :nth-child(odd) {
    background-color: #f6b8d1;
}

#save{
    background-color: #609c4d;
    border: none;
    padding: 5px;
}

#clear{
    background-color: #ac0d0d;
    border: none;
    padding: 5px;
}

